{erl_opts, [debug_info]}.
{deps, [
  parse_trans,
  telemetry,
  {maps_utils,
    {git, "https://github.com/Leapsight/maps_utils.git", {branch, "master"}}
  },
  {metrics,
      {git, "https://github.com/shortishly/metrics.git", {branch, "main"}}
  }
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [parse_trans, telemetry, metrics, telemetry_metrics]}
]}.
