{erl_opts, [debug_info]}.
{deps, [
  parse_trans,
  telemetry,
    %% Needed by metrics (remove when metrics > envy fixes the dep)
  {any,
      {git, "https://github.com/shortishly/any.git", {branch, "main"}}
  },

  {metrics,
      {git, "https://github.com/shortishly/metrics.git", {branch, "main"}}
  }
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [parse_trans, telemetry, metrics, telemetry_metrics]}
]}.
