[
    {telemetry_metrics, [
        {metadata, fun maps:new/0},
        {histogram_buckets, #{
            duration_buckets => [
                0.005, 0.01, 0.025, 0.05, 0.1,
                0.25, 0.5, 1.0, 2.5, 5.0, 10.0
            ],
            low_duration_buckets => [
                0.0005, 0.001, 0.002, 0.005, 0.01,
                0.05, 0.1, 0.25, 0.5, 0.75, 1.0
            ],
            retries_buckets => [
                0.0, 1.0, 2.0, 3.0, 5.0, 10.0,
                15.0, 25.0, 35.0, 50.0, 100.0, 150.0
            ]
        }},
        {handlers, [
            {riak_pool, #{
                config => #{
                    type => callback
                },
                event_metrics => [
                    {[riak_pool, execute, stop], [
                        #{
                            type => counter,
                            name => riak_pool_execute_total,
                            measurement => count,
                            metadata => [partition]
                        },
                        #{
                            type => histogram,
                            name => riak_pool_execute_retries_total,
                            measurement => retries,
                            buckets => retries_buckets,
                            metadata => [partition]
                        },
                        #{
                            type => counter,
                            name => riak_pool_execute_retried_total,
                            measurement => retries,
                            metadata => [partition]
                        },
                        #{
                            type => histogram,
                            name => riak_pool_execute_duration_seconds,
                            measurement => duration,
                            convert_unit => second,
                            buckets => low_duration_buckets,
                            metadata => [partition]
                        }
                    ]},
                    {[riak_pool, execute, exception], [
                        #{
                            type => counter,
                            name => riak_pool_execute_exception_total,
                            measurement => count,
                            metadata => [partition]
                        }
                    ]}
                ]}
            }
        ]}
    ]}
].